body {
    font-family: 'Source Sans Pro';
    background: black;
    background-size: cover;
}

.tituloWeb{
    text-align: center;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.enlace{
    padding: 6px;
    background: lightgrey;
}


